<app-menu></app-menu>
<div class="container">
  <div class="createRss">
    <input type="text" [(ngModel)]="rss.link" name="link" class="form-control" placeholder="Enter the link..."/>
    <button type="submit" (click)="addRss()" class="btn btn-primary">Add RSS Feed</button>
  </div>

  <!--  get content button-->
  <div class="contentOptions">
    <button type="submit" class="btn btn-primary" (click)="getRssContent()">Get content</button>
    <button type="submit" class="btn btn-primary" (click)="sendToEmail()">Send to email</button>
  </div>

  <!--  links-->
  <div class="links">
    <table>
      <thead>
      <tr>
        <th>Links:</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rss of rssList">
        <td>{{rss.link}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--  rss content-->
  <div class="content">
    <div *ngIf="contentGets" [innerHTML]="content.text"></div>
  </div>
</div>
